/************
 * TEXTCURVE
 ************/
.textcurve {
	display: flex;
	align-items: flex-start;

	.caption {
		order: 1;
		margin: 0;
		padding-top: 15px; // see responsive for right padding
		box-sizing: border-box;
	}

	svg { // the curve
		order: 2;
		box-sizing: border-box;
	}

	.subtext {
		order: 3;
		flex-grow: 1;
		min-height: 22px;
		padding: 0 5px 0 0;
		box-sizing: border-box;
		text-align: right;
		font-size: 15px;
		line-height: 21px; // no more to stay even with curve
	}
}