/************
 * TEXTCURVE
 ************/
.textcurve {
	display: flex;
	align-items: flex-start;

	.caption {
		order: 1;
		margin: 0;
		padding-top: 15px; // see responsive for right padding
		box-sizing: border-box;
	}

	svg { // the curve
		order: 2;
		flex-shrink: 0;
		box-sizing: border-box;
	}

	.subtext {
		order: 3;
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;
		min-height: 22px;
		max-height: 22px;
		margin-left: -1px; // fixes tiny whitespace in safari
		padding: 0 5px 0 0;
		box-sizing: border-box;
		text-align: right;
		font-size: 15px;
		line-height: 21px; // no more to stay even with curve
	}

	/* Common Borders
	 *****************/
	$border: (
		radius: 4px,
		width:  1px,
		style:  solid
	);
	.caption {
		border-top-width: mapGet($border, width);
		border-top-style: mapGet($border, style);
	}
	.subtext {
		border-bottom-width: mapGet($border, width);
		border-bottom-style: mapGet($border, style);
		border-top-right-radius: mapGet($border, radius);
	}
}